button {
    background: transparent;
    padding: 5px 15px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #666;
    color: #fff;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
button + button {
    margin-left: 10px;
}
select + select {
    margin-left: 10px;
}
